.mise-en-scene * {
    position: absolute;
}

.man-w-cow {
    width: 2.5%;
    left: 46%;
    transform: rotate(153deg);
    top: 42%;
}

.man-sitting-campfire {
    width: 3%;
    left: 48%;
    top: 34%;
}

.man-standing-campfire {
    width: 3%;
    left: 48%;
    top: 34%;
}

.magnifying-glass-pickup {
    width: 0.5%;
    left: 55%;
    top: 40%;
}

.man-with-magnifying {
    width: 2.5%;
    left: 54%;
    top: 37%;
}